dapper.egg-info/
*.pyc
__pycache__/
**/_build/
docs/_build/
*.ipynb_checkpoints

# python packaging/build
*.egg-info/
build/
dist/
.coverage
.pytest_cache/
.mypy_cache/

# OS/editor cruft
.DS_Store
Thumbs.db
.vscode/
.venv/
.env